<div class="navbar" id="navbar">

    <div class="menu-icon" id="menu-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>




    <div class="links" id="links">

            <a style="color: var(--color-two);">Welcome </a>
            <a href="{{ path('app_logout') }}"> Déconnexion</a>
            <a class="nav-link" href="#">Inscription</a>
            <a href="{{ path('app_login') }}"> Connexion </a>
    </div>
</div>
